body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
}

header, footer {
    text-align: center;
    padding: 20px;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.slide img {
    width: 100%;
    vertical-align: middle;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

#menu {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    animation: slideIn 0.5s ease-out forwards;
}

#menu a {
    font-weight: 700;
    display: block;
    padding: 15px 20px;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, #4caf50, #81c784);
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

#menu a:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(45deg, #388e3c, #66bb6a);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#menu a#santi-santiago-link {
    font-weight: 700;
    display: block;
    padding: 15px 20px;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

#menu a#santi-santiago-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 70%);
}